body {
   background: black;
}

h1, h2, h3 {
   margin:10px 0; padding:2px 10px;
   border-left:8px solid #66cc00;
   color: black;
   background-color:#b3e680;
   font:bold 15px verdana,sans-serif;
}

p {
   color: white;
}

form {
   padding:10px 15px;
   border:6px solid #66cc00;
   border-bottom-style:dotted;
   border-top-style:dotted;
   background-color:#b3e680;
}
